<div class="fishbox span9 offset3 text-center">

	<h1 class="custom-h1">Greetings, I'm George</h1><BR/>

	<h2>This is my pool</h2>

	<br/>

	<%= link_to 'Launch', '#', :class => 'btn btn-warning' %>

</div>